# Środowisko wirtualne (kluczowe!)
venv/
ENV/
env/

# Python (pliki binarne i pamięć podręczna)
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Logi (żeby nie śmiecić na GitHubie)
*.log
logs/

# Pliki systemowe (często pojawiają się na Raspberry Pi / MacOS / Windows)
.DS_Store
Thumbs.db
.local
.cache/

# Pliki konfiguracyjne z wrażliwymi danymi (opcjonalnie, jeśli je masz)
config.json
.en
